$surface-darkgrey: rgba(57, 57, 69, 0.8);
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;
$surface-green: green;
$fontsize: 1.17em;
$hamburger-fontsize: 1em;
$color-white1: #bfbfbf;
$color-white2: rgba(210,211,219, 0.5);
$color-white3: #FCECBD;
$orange: #ffc04c;
$green: #52bf90;
$blue: #AEFAFB;
$br: 16px;
$border-size: 1px;
$char-space: 1px;

* {
  all: unset;
  font-family: "Sarasa Term SC", "Sarasa Mono K SemiBold", "Trispace", "monospace";
}

.bar {
  //background-color: rgba(32, 37, 43, 0.5);
  border-radius:9px;
  //border: 1px solid rgba(255, 255, 255, 0.8);
  padding-right: 10px;
  padding-left: 5px;
}

.workspace-box {
  font-size: $fontsize;
  color: $color-white3;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 10px;
  border: solid $border-size $color-white2;
  .active {
    border-bottom: 2px solid $color-white3;
  }
  .inactive {
    padding-top: 2px;
    color: white;
    border-bottom: 2px solid transparent;
  }
}

.time {
  border: solid $border-size $color-white2;
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 11px;
}

.end {
  font-size: $fontsize;
}

.weather {
  border: solid $border-size $color-white2;
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 10px 9px 10px 6px;
  color: #FEF9C5;
}

.window-title {
  border: solid $border-size $color-white2;
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 11px;
  color: #EEEEEE;
  letter-spacing: $char-space;
}

.cava {
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 10px 10px 10px 10px;
  border: solid $border-size $color-white2;
}

.stopwatch {
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 10px 10px 10px 10px;
  border: solid $border-size $color-white2;
}

.stopwatch-btn {
  font-size: 1.0em;
  padding: 0;
  margin: 0 1px;
}

.stopwatch-btn-reset {
  font-size: 0.85em;
  padding: 0;
  margin: 0 1px;
}

.stopwatch-btn:hover {
  color: $blue;
}

.stopwatch-btn-reset:hover {
  color: $blue;
}

.quick-launchers {
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 10px 10px 10px 10px;
  border: solid $border-size $color-white2;
}

.right {
  font-size: $fontsize;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 8px;
  border: solid $border-size $color-white2;
  margin-right: -3px;
}

.pavu {
  font-size: 1.12em;
  padding: 0;
  margin-right: -5;
}

.net-box {
  font-size: $fontsize;
  padding: 0;
  margin: 0;
}

.bat-box {
  font-size: $fontsize;
  // margin-right: -1px;
}

.btns-box {
  font-size: $hamburger-fontsize;
  padding: 0;
  margin: 0;
}

.btns-box-window {
  font-size: $fontsize;
  margin: 0;
  background-color: $surface-lightgrey;
  padding: 10px;
  min-width: 12px;
  border-radius: 10px;
}

.battery-reveal {
  margin-right: 3px;
}

.outline {
  border: 1px solid white
}

.calendar {
  background-color: $surface-grey;
  border-radius: 10px;
  border: solid 1px $color-white2;
  font-size: $fontsize;
}

.calendar:selected {
  font-weight: bold;
  box-shadow: 0px -3px 7px 2px #00aaff inset;
}

.red {
  color: $surface-red;
}

.green {
  color: $surface-green;
}

.white {
  color: $color-white1;
}

.blue {
  color: #3daee9;
}

.systray {
  font-size: $fontsize;
}

.volume-slider trough {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  min-height: 0.3em;
}

.volume-slider trough highlight {
  background-color: #7b99ca;
  border-radius: 10px;
  min-height: 0.48em;
}

.volume-box {
  min-width: 70px;
}

.stat-progress {
  color: $blue;
  background-color: $surface-lightgrey;
}

.stat-background {
  color: $surface-darkgrey;
}

.progress-text {
  margin-right: 5px;
}

.overlay {
  margin: 0;
  padding: 0;
  min-width: 28px;
}

.pc-stats {
  border: solid $border-size $color-white2;
  background-color: $surface-darkgrey;
  border-radius: $br;
  padding: 6px 10px 6px 10px;
  min-height: 28px;
}

decoration {
  background: rgba($surface-darkgrey, 0.85);
  border-radius: 10px;
}

widget {
  image {
    margin: 0 1px 0 1px;
  }
  padding: 2px;
  window {
    margin: 2px 2px 2px 2px;
    *:hover {
      background-color: $surface-lightgrey;
    }
  }
}

menuitem {
  margin: 0 1px 0 1px;
  menu {
    padding: 5px;
    border: 1px solid $color-white1;
    border-radius: 10px;
    background: rgba($surface-darkgrey, 0.85);
    *:hover{
      background-color: $surface-lightgrey;
    }
  }
}

.dnd-state{
  font-size: 1.05em;
  margin-right: -9px;
  margin-left: -1px;
}

.mic-state{
	font-size: $fontsize;
	padding: 0 2px 0 3px;
}

tooltip {
	background-color: $surface-darkgrey;
	color: white;
	// border: 1px solid $color-white1;
	border-radius: 10px;
	padding: 5px;
}
