* {
  font-size: 20px;
}

.notification {
  font-size: 20px;
}

.notification-content {
  font-size: 20px;
}

.notification-default-action {
  font-size: 20px;
}

.summary {
  font-size: 20px;
  font-weight: bold;
}

.body {
  font-size: 20px;
}
